{% extends "base.html" %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Privacy Policy - {{ branding.company_name }}{% endblock %}</title>

    {% block extra_head %}
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    {% endblock %}
</head>

{% block content %}
    <div class="container min-vh-100 mb-5" style="margin-top: 100px">
        <h2 class="text-center display-5 fw-bold text-shadow-lg mb-5" style="font-family: 'Playfair Display', serif;">Privacy Policy</h2>
        <div class="row justify-content-center">
            <div class="bg-transparent border-0">
                <div class="card-body">
                    <p class="card-text text-black">{{ privacy_policy.content | safe }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
